.content {
	width: 60vw;
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF00;
	margin: auto;
	padding: 1rem 0;
	text-align: center;
}

.content img {
	width: 14rem;
	margin: 0 auto;
}

.title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 96px;
	line-height: 113px;
	text-align: center;
	
	color: #AFAFAF;
}

.appear {
	animation: appear 1.2s linear both;
}

.scaleup-appear {
	animation: scaleup-appear 0.4s linear 1.6s both;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scaleup-appear {
  0% {
  	opacity: 0;
  	transform: scale(0.8);
  }
  100% {
  	opacity: 1;
  	transform: scale(1);
  }
}